{%extends "base.html"%}
{%include "header.html"%}
{%import 'bootstrap/wtf.html' as wtf%}


{%block title%} Profile
{%endblock%}


{%block content%}

<div id="content" class="p-4 p-md-5 pt-5 text-center">
    <h2>Student Profile</h2>
    {%with messages = get_flashed_messages()%}
    {%if messages%}
    {%for msg in messages%}

    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{msg}}</strong>
        
      </div>

    {%endfor%}
    {%endif%}
    {%endwith%}
</div>
{%endblock%}

{%include "footer.html"%}